@import url("/static/all.css");

header {
    background-color: var(--theme-color);
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.1;
}

header .content {
    padding: 28px 16px;
    max-width: 800px;
    margin: 0 auto;
}

@media screen and (min-width: 400px) {
    header {
        font-size: 32px;
    }
}

@media screen and (min-width: 500px) {
    header {
        font-size: 40px;
    }
}

@media screen and (min-width: 800px) {
    header {
        font-size: 50px;
    }
}

header h1 {
    font-size: 1em;
    font-weight: 600;
    margin: 0 0 10px 0;
    letter-spacing: 0.5px;
}

header .subtitle {
    color: #d2e2f1;
}

header form {
    margin-top: 30px;
}

header form * {
    display: inline-block;
    vertical-align: middle;
}

header form input[name=q] {
    width: calc(100% - 50px);
    max-width: 500px;
    height: 50px;
    box-sizing: border-box;
    padding: 8px 16px;
    border: 0;
    border-radius: 4px 0 0 4px;
    font-size: 18px;
    line-height: 1.5;
    box-sizing: border-box;
    outline: none;
}

header form button {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: 0;
    border-radius: 0 4px 4px 0;
    background-color: #ffffff;
    cursor: pointer;
    background-color: #d2e2f1;
    color: var(--theme-color);
}

header form button:hover {
    background-color: #e5eff7;
}

main h2 {
    margin: 20px 0;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.service-info .links>a {
    display: block;
    color: #000000;
    text-decoration: none;
    position: relative;
    border-bottom: 1px solid #d2d2d7;
    padding: 0 0 8px;
    margin-bottom: 8px;
}

.service-info .links>a:last-child {
    border-bottom: 0;
}

.service-info .links h3 {
    margin: 0 0 4px;
}

.service-info .links h3 span {
    box-sizing: border-box;
    height: 30px;
    font-weight: 600;
    color: var(--theme-color);
    text-decoration: underline;
}

.service-info .links>a:hover h3 span {
    color: var(--theme-color-dark);
    text-decoration-thickness: 3px;
}

.service-info .links>a h3 span::after {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    content: 'navigate_next';
    font-family: 'Material Symbols Outlined';
    font-size: 30px;
}

.service-info .links>a[down] h3 span::after {
    content: 'arrow_downward';
}

main .subtitle {
    color: rgba(0, 0, 0, 50%);
    text-align: center;
    line-height: 1.2;
}

#be-evil h2 {
    height: 42px;
}

#be-evil h2>*{
    vertical-align: text-top;
}

summary {
    line-height: 40px;
}

#report ul {
    padding-left: 20px;
}

#learn-more ul{
    padding-left: 1em;
    list-style: none;
    font-size: 18px;
}

.buttons {
    margin-top: 8px;
    font-size: 0;
}

.buttons a {
    box-sizing: border-box;
    margin: 6px;
    width: calc(50% - 6px);
    font-size: 1rem;
    border-radius: 8px;
    display: inline-block;
    padding: 0 1rem;
    background-color: #f5f5f7;
    line-height: 50px;
    text-decoration: none;
    color: black;
    overflow: hidden;
    font-weight: 600;
}

.buttons a:active {
    background-color: #d7d7d9;
}

.buttons a span {
    vertical-align: middle;
}

.buttons a span:first-child {
    margin-right: 8px;
    max-width: 24px;
}

.buttons a:nth-child(odd) {
    margin-left: 0;
}

.buttons a:nth-child(even) {
    margin-right: 0;
}